body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*basic CSS for table readability in CategoryList but will apply to all td and th elements. If your spacing is getting messed up, this might be why*/
td, th{
  padding-left: 3rem;
}

.table-button{
  margin-left: 3rem;
}

.category-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.category-form-input{
  margin: 1rem;
}